//  root of header
header {
    display: block;
}

.navTop,
.search,
.ulHeader,
.rightHeader,
.centerHeader,
.logoAndSearch,
.rightHeader a,
#verticalLeft,
#tags {
    display: flex;
    align-items: center;
}

.navTop {
    width: 100%;
    height: 4.2rem;

    background-color: var(--background-black-grey);
}

// Logo and Search Bar
.logoAndSearch {
    margin-left: 1rem;

    flex: 1;
    // width: -webkit-fill-available;
    width: 100%;
}

// logo
img.logoHeader {
    width: 2.5rem;
    height: 2.5rem;
}

// search
.allSearchBar {
    width: 100%;
    margin-left: 1.2rem;
}
.formSearch {
    display: flex;
    border-color: transparent;
    border-radius: 24px;

    height: 2.5rem;
    background-color: var(--background-dark-grey);
}

.buttonSearch {
    padding: 0;

    text-align: inherit;

    outline: none;

    box-shadow: none;
    border-color: initial;
    border: none;

    cursor: pointer;

    display: flex;
    align-items: center;

    background: var(--background-dark-grey);

    width: 2.3rem;
}

.inputSearch {
    grid-row: 1;
    display: flex;
    width: 100%;

    background: var(--background-dark-grey);
}
input._input {
    background: var(--background-dark-grey);
    color: var(--background-light);
}

._input {
    flex-grow: 1;

    padding: 0 0 0 0.5rem;

    outline: none;
    box-shadow: none;
    background-image: none;
    border: none;

    background: var(--background-dark-grey);
    color: var(--background-light);

    width: 100%;
}

.VisualSearch {
    display: inline-block;
    max-width: 100%;
}
.buttonVisualSearch {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;

    outline: none;
    border: none;
    border-color: initial;
    border-bottom: none;
    box-shadow: none;

    cursor: pointer;

    background: var(--background-dark-grey);
}

.buttonSearch img,
.buttonVisualSearch img {
    width: 1.25rem;
    height: 1.25rem;
}
.buttonSearch {
    padding-left: 10px;

    border-radius: 50% 0 0 50%;
}
.buttonVisualSearch {
    padding: 0 15px 0 0;

    border-radius: 0 50% 50% 0;
}

.allSearchBar:hover input._input,
.allSearchBar:hover .formSearch,
.allSearchBar:hover .buttonVisualSearch,
.allSearchBar:hover .buttonSearch {
    background: var(--background-light-dark-grey);
    transition: 200ms;
}

// Page name / Brandis / ...[List]
.centerHeader {
    padding: 0 1rem 0 0.5rem;
    text-align: center;
    list-style-type: none;
}

.ulHeader {
    margin: 0;
    padding: 0;

    list-style: none;
    list-style-image: initial;
}

// name page
.liNamePage {
    display: inline-block;

    font-size: 0.875rem;
    font-weight: 500;
}
.aNamePage {
    padding: 0 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style-type: none;

    pointer-events: none;

    color: var(--background-light);
}

// brands
.liBrands {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
}
.aBrands {
    padding: 10px 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style-type: none;

    color: var(--background-light);
    text-decoration-color: var(--background-light);
}
.aBrands:hover {
    color: var(--background-white);
    cursor: pointer;
}
.divBrands span {
    background-clip: text;

    color: transparent;
}
.spanBrands {
    position: relative;
    top: -10px;
    font-size: 0.6rem;

    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #ff0000, #2c33ff);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

// dots ...[list]
.lsDots {
    display: inline-block;
}
.divDots {
    position: relative;
    display: inline-block;
    max-width: 100%;
}
.buttonDots {
    padding: 0 0.75rem;

    box-shadow: none;
    border-color: none;
    border-radius: 4px;
    border: none;
    background: none;
    outline: none;

    text-align: inherit;

    height: 100%;
    line-height: 1;

    vertical-align: middle;
    transition: all 0.1s ease-in-out;

    color: var(--background-light);
}
.buttonDots img {
    padding-top: 5px;

    width: 1.5rem;
    height: 1.5rem;
}
.buttonDots:hover {
    border-radius: 8px;

    cursor: pointer;

    background: var(--background-dark-grey);

    transition: 200ms;
}

// not change

// Photo / Join / Login
.buttonSubmitPhoto {
    // margin: 0 1.5rem 0 0.625rem;

    outline: none;
    border: none;
    border-radius: 8px;

    cursor: pointer;

    height: 100%;

    background-color: var(--background-black-grey);
    border: 2px solid var(--background-dark-grey);
}
.buttonSubmitPhoto:hover {
    background: var(--background-dark-grey);

    transition: 200ms;
}
#aSubmitPhoto {
    padding: 0.625rem;

    text-decoration: none;
}

#verticalLeft {
    margin: 0 1rem;
    height: 2.3rem;

    border-left: 1px solid var(--background-light-dark-grey);

    button:first-child {
        margin: 0 1rem;

        background: none;
        outline: none;
        border: none;
        border-radius: 8px;
        font-size: 1rem;

        cursor: pointer;

        height: 100%;
    }

    button:last-child {
        padding: 0 1rem;

        cursor: pointer;

        outline: none;
        border: none;
        border-radius: 8px;
        height: 100%;

        background: var(--green);
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin: 0 1rem;
        cursor: pointer;
    }
    a:first-child img {
        width: 1.5rem;
        height: 1.5rem;
    }
    a:last-child img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
}
$breakpoint-tiny-computer-screen: 950px;
@media (max-width: $breakpoint-tiny-computer-screen) {
    .liNamePage,
    .buttonLogin,
    .liBrands,
    .buttonSubmitPhoto {
        display: none;
    }
}

// root of Tags
$breakpoint-small-computer-screen: 1595px;

#tags {
    background-color: var(--background-black-grey);

    height: 3rem;

    transition: 2s;
    transition-duration: 2s;
}

h3#h3Tags {
    display: flex;
    margin: 0;
    padding: 0.9rem;

    font-size: 0.9rem;
}
.verticalRight {
    padding: 1rem 0;

    border-right: 1px solid var(--background-light-dark-grey);
}

.tagsStyle {
    font-size: 0.9rem;

    width: 100%;
}

.ulTags {
    margin-bottom: 0;
    margin-top: 0;

    // margin-left: -32px;

    display: flex;
    align-items: center;

    padding-left: 0;
    list-style: none;
}

.liTag {
    padding: 0.9rem;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

@media (max-width: $breakpoint-small-computer-screen) {
    #tags {
        transition-duration: 2s;
        width: 0;
        height: 0;
        display: none;
    }
}
