$breakpoint-tags: 1596px;
$breakpoint-desktop: 1366px;
$breakpoint-medium: 936px;
$breakpoint-tablet: 768px;

header {
    // max-width: 100%;
    background-color: var(--black-grey);

    .headerObjects {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;

        height: 4rem;

        .leftHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            margin-left: 1rem;

            a {
                cursor: pointer;
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            form {
                width: 100%;
                margin-left: 1.2rem;

                display: flex;
                border-color: transparent;
                border-radius: 24px;

                height: 2.5rem;
                background-color: var(--dark-grey);

                button {
                    padding: 0;
                    text-align: inherit;

                    outline: 0;
                    box-shadow: none;
                    border-color: initial;
                    border: 0;

                    display: flex;
                    align-items: center;

                    background: var(--dark-grey);

                    width: 2.3rem;
                    cursor: pointer;

                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }

                button:first-child {
                    border-radius: 50% 0 0 50%;
                    padding-left: 10px;
                }

                button.visualSearch {
                    border-radius: 0 50% 50% 0;
                    padding: 0 15px 0 0;
                }

                input {
                    flex-grow: 1;

                    padding: 0 0 0 0.5rem;

                    outline: none;
                    box-shadow: none;
                    background-image: none;
                    border: none;

                    background: var(--dark-grey);
                    color: var(--light);

                    grid-row: 1;
                    display: flex;
                    width: 100%;
                }
            }
            form:hover button,
            form:hover input {
                background: var(--light-dark-grey);
                transition: 200ms;
            }
        }

        .centerHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 1rem 0 0.5rem;
            text-align: center;
            list-style-type: none;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin: 0;
                padding: 0;

                list-style: none;
                list-style-image: initial;
            }

            .currentPage {
                margin: auto 0.5rem;
                font-size: 0.875rem;
                font-weight: 500;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    list-style-type: none;

                    pointer-events: none;

                    color: var(--light);
                }
            }

            .brands {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin: auto 0.5rem;
                display: inline-block;
                font-size: 0.875rem;
                font-weight: 500;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    list-style-type: none;

                    color: var(--light);
                    text-decoration-color: var(--light);
                    height: 1rem;

                    span {
                        position: relative;
                        top: -24px;
                        right: -24px;
                        font-size: 0.6rem;

                        color: transparent;

                        background-color: red;

                        background-image: linear-gradient(45deg, var(--red), var(--blue));

                        background-size: 100%;
                        background-repeat: repeat;

                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                    }
                }
                .brands > a:hover {
                    color: var(--white);
                    cursor: pointer;
                }
            }

            // dots ...[list]
            .placeHolderOptions {
                display: inline-block;

                button {
                    margin: auto 0 auto 0.8rem;
                    padding: 0.01rem 0 0 0;
                    outline: 0;
                    box-shadow: none;
                    border-radius: 6px;
                    border: 0;

                    text-align: inherit;

                    height: 1.5rem;
                    width: 3rem;

                    line-height: 1;

                    vertical-align: middle;
                    transition: all 0.1s ease-in-out;

                    background: var(--light-dark-grey);
                    color: var(--light);

                    img {
                        width: 1.5rem;
                        height: auto;
                    }
                }
                button:hover {
                    background: var(--light-grey);

                    cursor: pointer;
                    transition: 200ms;
                }
            }
        }

        .rightHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-right: 1rem;

            > button {
                margin-right: 1rem;
                min-width: 7.4rem;
                height: 2.6rem;

                outline: none;
                border-radius: 8px;

                cursor: pointer;

                background-color: var(--black-grey);
                border: 2px solid var(--dark-grey);
            }
            button:hover {
                background: var(--dark-grey);
                transition: 200ms;
            }

            .usersStatus {
                display: flex;
                align-items: center;
                justify-content: space-between;

                height: auto;

                border-left: 1px solid var(--light-dark-grey);

                button {
                    margin: 0 0.5rem;
                    font-size: 1rem;

                    outline: none;
                    border: none;
                    border-radius: 8px;
                    height: 2rem;

                    cursor: pointer;
                }

                button:first-child {
                    background: none;
                    width: 4rem;
                }

                button:last-child {
                    min-width: 5.5rem;
                    background: var(--green);
                }

                a {
                    margin: 0 1rem;
                    cursor: pointer;
                }
                a:first-child img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                a:last-child img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .tags {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--black-grey);

        height: 3rem;

        transition: 2s;
        transition-duration: 2s;

        h3 {
            display: flex;
            margin: 0;
            padding: 0.9rem;

            font-size: 0.9rem;
        }

        .separator {
            padding: 1rem 0;
            border-right: 1px solid var(--light-dark-grey);
        }

        .tagsStyle {
            font-size: 0.9rem;
            width: 100%;

            ul {
                margin-bottom: 0;
                margin-top: 0;

                // margin-left: -32px;

                display: flex;
                align-items: center;

                padding-left: 0;
                list-style: none;

                li {
                    padding: 0.9rem;
                    width: 100%;
                    height: 100%;

                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-tags) {
    header {
        .tags {
            transition-duration: 2s;
            width: 0;
            height: 0;
            display: none;
        }
    }
}

@media only screen and (max-width: $breakpoint-desktop) {
    header {
        .headerObjects {
            .centerHeader {
                .brands {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    header {
        .headerObjects {
            .centerHeader {
                .currentPage {
                    margin: auto 0.1rem;
                    font-size: 0.7rem;
                    font-weight: 500;
                }
                .placeHolderOptions {
                    button {
                        margin: auto 0 auto 0.5rem;
                        img {
                            width: 1.2rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .rightHeader {
            > button {
                font-weight: 300;
                font-size: 0.8rem;
                min-width: 6rem !important;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .rightHeader > button,
    .currentPage {
        display: none;
    }
}
